################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.lock
/.vs/nhchatbot/v15
/.vs/nhchatbot/DesignTimeBuild
/.vs/config
/.vs/cjlogisticsChatBot/v15
/.vs/hanTestBot/v15
/.vs
